.label--link__about-us{
    padding: 15px 40px 15px 40px;
    color: #eb5b25;
    border: solid 1px #eb5b25;
    border-radius: 5px;
}
.label--link__about-us:hover{   
    color: #ffffff;
    background-color: #eb5b25;
}
.link--link__about-us{
    text-decoration: none;
}
.link--link__about-us:hover{
    text-decoration: underline;
    color: #ffffff;
}