:global(.vtex-store__template) {
  --promotions-color: #ffed00;
  --green-offers: #289e36;
  --discounts: #7ac537;
  --dynamic-texts: #843a8d;
  --card-descriptions: #c47373;
  --promotion-flags: #525252;
}

.imageElement--home_imageitem {
  border-radius: 50%;
}

.headerRowContainer--container_full {
  width: 100%;
}

.searchBarIcon--search_today--search {
  background-color: #eb5b25;
  color: #fff;
  padding: 5px;
  align-items: center;
  margin-right: -1rem;
}

.searchIcon--search_today {
  color: white;
  width: 20px;
  height: 20px;
}

.content_login {
  width: 5%;
}

.imageElement--home_imageitem_phone {
    padding: 10px;
    width: 84px;
    height: auto;
    margin-left: 40px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 16%);
    cursor: pointer;
}

.imageElement--home_imageitem_phoneoffers{
  padding: 10px;
  width: 40px;
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
  padding: 20px;
  border:solid 1px #eb5b25;
  background: rgba(235, 91, 37, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.autoCompleteOuterContainer--search_today {
  font-size: 14px;
  color: #004797;
}

.logoLink--content_logo-mobile {
  margin-right: 30px;
  margin-left: 0;
}

@media only screen and (max-width: 49rem) {
  .searchBarIcon--search_today--search {
    background-color: #004797;
    padding: 5px;
    margin-left: -0.75rem;
  }
  .headerRowContainer--header__mobile {
    padding: 0;
  }
  .imageElement--home_imageitem_phone{
    margin-left: 15px;
    padding: 20px;
  }
  .imageElement--home_imageitem_phoneoffers{
    margin-left: 15px;
    padding: 20px;
  }
}
.imageElement--home__slider--five,
.imageElement--home__slider--four,
.imageElement--home__slider--three,
.imageElement--home__slider--two,
.imageElement--home__slider--one{
    width: 100%;
}

.imageElement--home_bannerfirst{
  width: 100%;
}

.imageElement--home_topimage{
  min-width: 300px;
}

.imageElement--home_phones{
  min-width: 300px;
}

.imageElement--home_computers{
  min-width: 300px;
}

.imageElement--home_tv{
  min-width: 300px;
}

.imageElement--home_videogames{
  min-width: 300px;
}


