.flexColChild--section__one--slider{
    width: 50% !important;
}

.imageElement--home_bannerfirst{
    width: 200%;
}

.flexRow--home__section--one{
    margin-bottom: 40px;    
}

.flexRow--contain_moreabout{
    margin-bottom: 40px;    
    overflow-x: auto;
    overflow-y: hidden ;
}


.flexRowContent--row-overflow{
    overflow-x: auto;
    overflow-y: hidden ;
}

@media only screen and (max-width: 49rem) {
    .flexRowContent--row-overflow .stretchChildrenWidth{
        width: auto !important;
    }
    .flexRow--contain_moreabout .stretchChildrenWidth{
        width: auto !important;
    }
    
}

.flexRow--bottom_navigation{
    color: #004797;
}
.flexColChild--section__one--slider{
    margin-top: 30px;
}

.flexRow--global__bullet--diagramation{
    margin: 2rem
  }