.containerNormal{
  max-width: none !important; 
  border: solid 1px #bfbfbf;
  margin-right: 40px;
  margin-left:-20px;
  padding-left: 10px;
  padding-right: 10px;
}

.brandName {
  color: #000;
  font-size: .8125rem; 
  margin-left: 2px;
}