.paragraph--rich-text__footer__container--about-us-title,
.strong--rich-text__footer__container--contacto-business-name,
.paragraph--rich-text__footer__container--nit,
.paragraph--rich-text__footer__container--email-title,
.container--rich-text__footer__container--contact--customer-service,
.paragraph--rich-text__footer__container--contact-sale,
.paragraph--footer__container--payment{
    color: white;
}

.container--rich-text__footer__container--contact-email{
    color: #929292;
}

.paragraph--policies__content--title {
    color: #fcfcfc;
    font-size: 18px;
    margin-bottom: 15px;
}

.paragraph--content--social-networks{
    color: #fcfcfc;
}
