/*.header-2-x-headerRowBackground{
    background-color:  #004797;
}*/

.headerRowContentContainer--header__top{
    background-color:  #004797;
} 

.header__info{
    width: 100%;
}

.vtex-flex-layout-0-x-flexRow--header__info {
    width: 100%;
}

.SuperHEader {
    width: 100%;
  }
  