.minicartWrapperContainer{
    width: auto;
}

.openIconContainer--icon_minicart{
    float: left !important;
    border-radius: 10px;
}

.cartIcon{
    color: white;
}

@media only screen and (max-width: 49rem){
    .cartIcon{
        color: #004797;
    }
}

.minicartIconContainer{
    color: white;
}