.submenuWrapper--isOpen{
    width: 100vw;  
    height: 492px; 
    margin-top: 1px;
    border-bottom: 2px solid white;
}

.styledLinkContent--name_departament{
    color:#004797;
    font-size: 14px;
    border-right: 1px solid #004797;
    height: 8px;
}

.menuItem--name_departament--isOpen{
    font-size: 14px;
}