
.input::placeholder{
    color: #004797;
    font-size: 14px;
  }


  @media only screen and (max-width: 49rem) {
    .input::placeholder{
      color: #fff;
      font-size: 18px;
    }

    .input{
      background-color: #004797;
    }
  }